.accordian {

	.accordian-trigger {
		font-family: $font-heading;
		font-size: $font-size-5;
		padding: 0.25em 1em;
		margin-bottom: 1em;
		cursor: pointer;

		&.active {
			border-left: 5px solid $color-tertiary;
		}
	}

	.accordian-view {
		padding: 1em;
		margin-bottom: 1em;
	}
	
	&.accordian-primary {

		.accordian-trigger {
			background-color: $color-primary;
			color: $color-tertiary;
		}

		.accordian-view {
			background-color: $color-primary;
			color: $color-primary-text;
		}
	}
}
