@font-face {
  font-family: 'poppins-light'; 
  src: url("../fonts/poppins/Poppins-Light.eot");
  //src: url("../fonts/poppins/Poppins-Light.woff");
  src: url("../fonts/poppins/Poppins-Light.ttf");
  src: url("../fonts/poppins/Poppins-Light.svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-regular'; 
  src: url("../fonts/poppins/Poppins-Regular.eot");
  //src: url("../fonts/poppins/Poppins-Regular.woff");
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  src: url("../fonts/poppins/Poppins-Regular.svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-medium'; 
  src: url("../fonts/poppins/Poppins-Medium.eot");
  //src: url("../fonts/poppins/Poppins-Medium.woff");
  src: url("../fonts/poppins/Poppins-Medium.ttf");
  src: url("../fonts/poppins/Poppins-Medium.svg");
  font-weight: normal;
  font-style: normal;
}
