@font-face {
    font-family: 'Poppins-L';
	src: url('../fonts/poppins/Poppins-Light.eot');
	src: url('../fonts/poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/poppins/Poppins-Light.woff') format('woff'),
		url('../fonts/poppins/Poppins-Light.ttf') format('truetype'),
		url('../fonts/poppins/Poppins-Light.svg#Poppins-Regular') format('svg');
}

@font-face {
    font-family: 'Poppins-R';
	src: url('../fonts/poppins/Poppins-Regular.eot');
	src: url('../fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
		url('../fonts/poppins/Poppins-Regular.ttf') format('truetype'),
		url('../fonts/poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
}

@font-face {
    font-family: 'Poppins-M';
	src: url('../fonts/poppins/PoppinsMedium.eot');
	src: url('../fonts/poppins/PoppinsMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/poppins/PoppinsMedium.woff') format('woff'),
		url('../fonts/poppins/PoppinsMedium.ttf') format('truetype'),
		url('../fonts/poppins/PoppinsMedium.svg#PoppinsMedium') format('svg');
}
