html, body {
    font-size: 12px;

    @include responsive-min( screen-mobile-large ) {
        font-size: 14px;
    }

    @include responsive-min( screen-tablet-large ) {
        font-size: 16px;
    }
}

.text {

	&.text-default-r {
		font-family: $font-default-r !important;
	}
}
